@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Padauk");

:root {
    --veryDark: #0a0a0a;

    --dark: #121213;
    --light: #dfdfdf;

    --lightSecondary: #cccccc;

    --darkSecondary: #1d1d1e;
    --darkSecondary1: #2f2f32;
    --darkSecondary2: #525255;

    --fontHeader: 'Raleway', sans-serif;
    --fontText: 'Padauk', sans-serif;
}

body {
    background-color: var(--veryDark);
    overflow: hidden;
    color: var(--light);

    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.Title {
    text-align: center;
    font-family: var(--fontHeader);
    font-weight: bold;
    font-size: 6em;
}

.RoomList {
    justify-content: center;
    background-color: var(--darkSecondary);
}

.room {
    background-color: var(--darkSecondary1);

    border-radius: 5px;
    text-align: center;
    font-family: var(--fontText);
    font-weight: bold;
    font-size: 3em;

    margin: 20px;

    display: flex;
    justify-content: center;
}

.room:hover {
    cursor: pointer;
    background-color: var(--darkSecondary2);
}

.roomPlayers {
    margin-left: 2em;
}