@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Padauk");

:root {
    --veryDark: #0a0a0a;

    --dark: #121213;
    --light: #dfdfdf;

    --lightSecondary: #cccccc;

    --darkSecondary: #1d1d1e;
    --darkSecondary1: #2f2f32;
    --darkSecondary2: #525255;
    --darkSecondary3: #69696c;
    --darkSecondary4: #7d7d7f;

    --fontHeader: 'Raleway', sans-serif;
    --fontText: 'Padauk', sans-serif;
}

html {
    height: 100%;
}

body {
    /*background-color: var(--veryDark);*/
    background: linear-gradient(180deg, rgba(20,20,20,1) 0%, rgb(21, 21, 21) 100%);
    color: var(--light);

    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */

    overflow: hidden;

    height: 100%;
}

@keyframes titleAnimation {
    0% {
        transform: translateY(-100%) rotate(10deg);
    }
    50% {
        transform: translateY(0) rotate(5deg);
    }
    100% {
        transform: translateY(0) rotate(-1deg);
    }
}

.Title {
    text-align: center;
    font-family: var(--fontHeader);
    font-weight: bold;
    font-size: 6em;

    margin-bottom: 20px;

    transform: rotate(-1deg);
    animation: 0.2s ease-out 0s 1 titleAnimation;
}

.RoomListContainer {
    height: 69%;
    max-height: 69%;
    overflow-y: auto;
    overflow-x: hidden;
    width: 40%;

    margin-left: 50%;
    transform: translate(-50%);

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;


    scrollbar-width: thin;
    scrollbar-color: var(--darkSecondary1) var(--darkSecondary);
}

.RoomListContainer::-webkit-scrollbar {
    width: 11px;
}
.RoomListContainer::-webkit-scrollbar-track {
    background: var(--darkSecondary);
}
.RoomListContainer::-webkit-scrollbar-thumb {
    background-color: var(--darkSecondary1) ;
    border-radius: 5px;
}
/* Scrollbar stuff */

.RoomList {
    background-color: var(--darkSecondary);

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    padding: 4px;

}

.room {
    background-color: var(--darkSecondary1);

    border-radius: 5px;
    text-align: center;
    font-family: var(--fontText);
    font-weight: bold;
    font-size: 2em;
    height: 100%;

    margin: 20px;

    display: flex;
}


@keyframes DeleteAnimation {
    0% {
        transform: translate(0);
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate(-100%);
    }
}

.disappear {
    animation: 0.5s ease-out 0s 1 DeleteAnimation;
}

.joinButton:hover {
    cursor: pointer;
    background-color: var(--darkSecondary2);
}

.joinButton:hover > .closeIcon div {
    background-color: var(--darkSecondary3);
}

.joinButton {
    border-radius: 5px;

    flex: 1 0 50%;
    display: flex;

    padding-left: 10%;
}

.roomPlayers {
    margin-left: 2em;
}

/* Individual menu stuff */

.closeIcon {
    flex: 1 0 50%;

    margin-left: 30%;
}

.closeIcon:hover {
    cursor: pointer;
}

.closeIcon:hover > div {
    background-color: red;
}

.line {
    background-color: var(--darkSecondary2);

    border-radius: 5px;

    position: relative;
    transform: translate(35%, 275%) rotate(-45deg);

    width: 10%;
    height: 15%;
}

.line2 {
    background-color: var(--darkSecondary2);

    border-radius: 5px;

    position: relative;
    transform: translate(35%, 175%) rotate(45deg);

    width: 10%;
    height: 15%;
}

.MakeRoom {
    background-color: var(--darkSecondary1); /* Green lol */
    color: var(--light);
    border: none;
    font-family: var(--fontText);
    text-align: center;
    display: inline-block;
    font-size: 2em;
    padding: 12px 32px;
    cursor: pointer;
    border-radius: 4px;

    margin-left: 50%;
    margin-top: 40px;
    transform: translate(-50%);
}

.MakeRoom:hover {
    background-color: var(--darkSecondary2);
}