.logo {
    display: block;
    margin-left: 35%;
    margin-right: 35%;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    width:30%; height: 30%;
    top: 0;
}
body {
    background: url(img/background.png) repeat 0 0;
    overflow: auto;
}
.grow {
    transition: all .2s ease-in-out;
}
.grow:hover {
    transform: scale(1.1);
}
.center {
    text-align: center;
}
p,h1,h2,li {
    color: #FFFFFF;
    font-family: 'Montserrat', serif;
}
.header {

}
#app {
    background-color: #454545;
    position: relative;
    top: -20px;
    width: 60%;
    padding-bottom: 50px;
    border-radius: 5px;
    margin: auto;
}
.article {
    background-color: gray;
    position: relative;
    text-align: justify;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 95%;
    left: 20px;
    top: 20px;
    border-radius: 5px;
}

.dropbtn {
    background-color: #161f4c;
    color: #ffffff;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: absolute;
    left: 0;
    top: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #26389d;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #e2e2e2;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #000e75;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #050037;}

.imageLOL {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 80%;
    text-align: center;
}

.imageContent {
    display: block;
    width: 50%;
    height: 50%;
}