video {
    width: 70%;
}

label, button {
    margin: 10px 10px;
}

.message {
    display: none;

    z-index: 25;
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    min-height:100%;

    background-color: rgba(0, 0, 0, 0.45);
}

.message .content {
    width: 50%;
    margin-top: 25%;
}

.answers h3, #answers h3 {
    display: inline-block;
    margin: 8px;
}

.site {
    margin-top: 20px;
}

.article-container {
    padding: 10px;
}

.article-header {
    font-size: 2em;
    padding-top: 20px;
}

.top-ui {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-ui-child {
    padding: 5px 25px;
    margin: 5px 20px;

    font-family: var(--text-font);
    font-size: 1.5em;

    border-radius: 5px;
    border: black 3px solid;
}

.top-ui-child img {
    width: 1.5em;
    padding-top: 5px;
    filter: invert(40%) sepia(100%) saturate(10000%) hue-rotate(0deg);
}

#hearts {
    transition: 0.1s background-color ease-in-out;
    background-color: unset;
}

#score {
    font-size: 2.4em;

    transition: 0.1s background-color ease-in-out;
    background-color: unset;
}

.upload-score {
    font-family: var(--text-font);
    font-size: 1.5em;
}
.upload-score input {
    font-size: 1.2em;
    width: 25%;
}
.upload-score label {
    font-size: 1.2em;
    padding: 5px 10px;
}

table {
    margin-top: 20px;
    width: 90%;

    color: var(--dark);
    font-family: var(--text-font);
}
table colgroup col {
    width: 20%;
}
thead {
    font-family: var(--header-font);
    font-size: 1.3em;

    color: var(--almost-white);
    background-color: var(--dark);
}
th {
    border-radius: 5px;
}
tr {
    border: black 5px solid;
}
td img {
    width: 15%;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#skip-message {
    display: none;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    width: unset;
    height: unset;
    min-height: unset;

    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 50px;

    border-radius: 5px;

    font-family: var(--text-font);
    font-size: 1.5em;
    color: var(--clear);
    text-align: center;
}
#answers h3 {
    color: var(--clear);
}
#user-data {
    padding: 40px 0 0 0;
}


.username-stuff h3 {
    margin-top: 25px;
}
.username-stuff {
    display: flex;
}
.article-content div {
    flex: unset;
}
.username-stuff input {
    font-size: 1em;
    width: unset;
    display: none;
}
.username-stuff img {
    filter: var(--svg);
    width: 3em;
    border-radius: 2px;
    margin: 18px;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}
#edit-username {
    width: 2em;
    box-shadow: unset;
}
#edit-username:hover {
    cursor: pointer;
}


@media screen and (max-width: 1000px) {
    th {
        font-size: 2em;
    }
    td {
        font-size: 1.5em;
    }
    td img {
        width: 25%;
    }

    .message .content {
        width: 100%;
    }

    .long-label {
        width: 90%;
    }

    .username-stuff img {
        width: 5em;
    }
    #edit-username {
        width: 3em;
    }
}