body {
    background-color: black;
    overflow: hidden;
}

.main {
    width: 100%;
    height: 100%;
    position: relative;
}

.site {
    z-index: 9;
    color: white;
}

.canvas, .site{
    position: absolute;
    top: 0;
    left: 0;
}

.sliders {
    margin-bottom: 10px;
}
