#error {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 20;

    font-size: 2.5em;
    font-family: sans-serif;
    padding: 8px 14px;

    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: rgb(0 0 0) 0 5px 15px;

    transform: translate(-50%, -200%);
    transition: transform 0.8s;
}

#error.showError {

    transform: translate(-50%, 0);
}