/* Extra custom stuff :O */

/* Theme changer bullshit :OOOO */

#themeChanger {
    position: absolute;
    z-index: 50;

    transform: translate(-50%, -50%);

    border-radius: 50%;

    background-color:white;

    mix-blend-mode: difference;
}

canvas {
    z-index: 200;
}

@keyframes circleSwitch {
    0% {
        width: 0;
        height: 0;
    }
    100% {
        width: 800vw;
        height: 800vw;
    }
}

.animateCircle {
    width: 800vw;
    height: 800vw;

    animation: ease-in-out circleSwitch 0.7s;
}

body {
    background-color: var(--background);
}

.topButtons {
    position: absolute;
    z-index: 50;
}

.topButtons div {
    line-height: 100%;
    background-color: var(--clear);
    position: fixed;
    z-index:100;

    transform: translate(-50%, -50%);

    transition: padding 0.2s;
    padding: 1.5%;
    border-radius: 50%;
    box-shadow: 0 8px 24px rgba(0,0,0, 0.1), 0 4px 24px rgba(0,0,0, 0.1);
}

.topRight {
    top: 69px;
    left: calc(100% - 69px);
}

.topLeft {
    top: 69px;
    left: 69px;
}

.bottomRight {
    top: calc(100% - 69px);
    left: calc(100% - 69px);
}

.topButtons div:hover {
    cursor: pointer;
    transition: padding 0.2s;
    padding: 2%;
}

.topButtons div img {
    filter: var(--svg);
    width: 2em;
}

.titleHeaderThing {
    text-align: center;
    font-size: 4em;
    font-family: var(--header-font);
}

.titleHeaderThing span {
    color: var(--dark);
    border-bottom: var(--dark) solid;
}

video {
    width: 80%;
    height: 100%;
    border-radius: 3px;

}

[type=text] {
    margin: 25px 0;

    font-size: 2em;
    text-align: center;
    outline: transparent;

    transition: font-size 0.3s, width 0.3s;

    padding: 6px;
    width: 75%;

    color: var(--dark);

    background-color: var(--clear);
    border: unset;
    border-bottom: var(--dark) solid 2px;
}

input[type=radio] {
    opacity: 0;
    position: fixed;
    width: 0;
}

label {
    margin: 30px 10px;

    display: inline-block;
    color: var(--dark);
    border: var(--dark) solid 2px;
    padding: 10px 20px;
    font-family: var(--text-font);
    font-size: 1em;
    font-weight: bold;
    border-radius: 4px;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

label:hover {
    cursor: pointer;
    background-color: var(--almost-white);
}

input[type="radio"]:checked + label {
    background-color: var(--dark);
    color: var(--almost-white);
}


#NoInfo {
    line-height: 2;
    font-size: 3em;
    font-family: var(--text-font);
    color: var(--dark);
}

#NoInfo img {
    width: 1.2em;
}

.hidden {
    visibility: hidden !important;
    display: none;
}

.extraTitleTitle {
    font-family: var(--header-font);

    display: block;
    color: var(--dark);
    padding-top: 20px;
}

.article-content {
    margin-top: unset;
}

#MainContainer {
    display: flex;
    justify-content: space-evenly;
    flex-flow: wrap;

    padding-bottom: 40px;
}

#MainContainer div {
    flex: 0 0 25%;
}

.extraTitle {
    text-decoration: underline;
    font-family: var(--header-font);
    color: var(--dark);
}

#UseInSentenceContainer div {
    margin-bottom: 75px;
}

.synonym {
    font-family: var(--text-font);
    color: var(--dark);
    display: inline-block;
    margin: 5px;
}


.topRightDropdown {
    position: relative;
    top: 0;
    left: 0;
}


#performanceToggle {
    position: relative;
    left: 50%;
}
#performanceToggle label {
    transform: translate(-50%);
}


/* PHONE STUFF EWWW YUK*/
@media screen and (max-width: 1000px) {
    video {
        width: 100%;
        height: 20%;
        border-radius: 3px;
    }

    input[type=text] {
        width: 100%;
        font-size: 3.5em;
    }

    label {
        font-size: 1.5em;
    }

    .topButtons div img {
        width: 3em;
    }

    .topButtons div {
        padding: 3%;
    }

    .topButtons div:hover {
        padding: 4%;
    }

    th {
        font-size: 40pt;
    }

    h2 {
        font-size: 2.5em;
    }

    h3 {
        font-size: 2em;
    }
}