/* Extra custom stuff :O */
:root {
    --background: #f1f1f1;
    --almost-white: #efefef;
    --clear: #ffffff;
    --dark: black;

}

html[data-theme="dark"] {
    --background: #2e2e2e;
    --almost-white: #2b2b2b;
    --clear: black;
    --dark: white;
    --svg: brightness(0) invert(1);
}

html[data-theme="light"] {
    --background: #f1f1f1;
    --almost-white: #efefef;
    --clear: white;
    --dark: black;
    --svg: brightness(0);
}

.noSelect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

body {
    background-color: var(--background);
}

.topButtons div {
    line-height: 100%;
    background-color: var(--clear);
    position: fixed;
    z-index:100;

    transform: translate(-50%, -50%);

    transition: padding 0.2s;
    padding: 1.5%;
    border-radius: 50%;
    box-shadow: 0 8px 24px rgba(0,0,0, 0.1), 0 4px 24px rgba(0,0,0, 0.1);
}

.topRight {
    top: 69px;
    left: calc(100% - 69px);
}

.topLeft {
    top: 69px;
    left: 69px;
}

.topButtons div:hover {
    cursor: pointer;
    transition: padding 0.2s;
    padding: 2%;
}

.topButtons div img {
    filter: var(--svg);
    width: 2em;
}

.titleHeaderThing {
    text-align: center;
    font-size: 4em;
    font-family: var(--header-font);
}

.titleHeaderThing span {
    color: var(--dark);
    border-bottom: var(--dark) solid;
}

.articleTable {
    background-color: var(--clear);
}

.articleTD video {
    width: 80%;
    height: 20%;
    border-radius: 3px;
}

.articleTD input[type=text] {
    /* box-shadow: 0 8px 24px rgba(0,0,0, 0.1), 0 4px 24px rgba(0,0,0, 0.1); */


    margin: 25px 0;

    font-size: 2em;
    text-align: center;
    outline: transparent;

    padding: 6px;

    color: var(--dark);

    background-color: var(--clear);
    border: unset;
    border-bottom: var(--dark) solid 2px;
}

.articleTD input[type=radio] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.articleTD label {
    margin: 30px 10px;

    display: inline-block;
    color: var(--dark);
    border: var(--dark) solid 2px;
    padding: 10px 20px;
    font-family: var(--text-font);
    font-size: 1em;
    font-weight: bold;
    border-radius: 4px;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.articleTD label:hover {
    cursor: pointer;
    background-color: var(--almost-white);
}

.articleTD input[type="radio"]:checked + label {
    background-color: var(--dark);
    color: var(--almost-white);
}


#NoInfo {
    line-height: 2;
    font-size: 3em;
    font-family: var(--text-font);
    color: var(--dark);
}

#NoInfo td img {
    width: 1.2em;
}

.hidden {
    visibility: hidden !important;
    display: none;
}

.extraTitleTitle {
    padding: unset;
    display: block;
    color: var(--dark);
    margin-top: 40px;
}

#MainContainer {
    display: flex;
    justify-content: space-evenly;
    flex-flow: wrap;

    margin-bottom: 40px;
}

.flexContainer {
    flex: 0 0 25%;
}

.extraTitle {
    text-decoration: underline;
    font-family: var(--header-font);
    color: var(--dark);
}

#UseInSentenceContainer div {
    margin-bottom: 75px;
}

.synonym {
    font-family: var(--text-font);
    color: var(--dark);
    display: inline-block;
    margin: 5px;
}

/* PHONE STUFF EWWW YUK*/
@media screen and (max-width: 1000px) {
    .content {
        width: 100%;
    }

    .articleTD video {
        width: 100%;
        height: 20%;
        border-radius: 3px;
    }

    .articleTD input[type=text] {
        font-size: 3.5em;
    }

    .articleTD label {
        font-size: 1.5em;
    }

    .topButtons div img {
        width: 3em;
    }

    .topButtons div {
        padding: 3%;
    }

    th {
        font-size: 40pt;
    }

    h2 {
        font-size: 2.5em;
    }

    h3 {
        font-size: 2em;
    }
}