@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Padauk");

:root {
    --veryDark: #0a0a0a;

    --dark: #121213;
    --light: #dfdfdf;

    --darkSecondary: #1d1d1e;
    --darkSecondary1: #2f2f32;
    --darkSecondary2: #525255;

    --fontHeader: 'Raleway', sans-serif;
    --fontText: 'Padauk', sans-serif;
}

body {
    background-color: var(--veryDark);
    color: var(--light);
    font-family: var(--fontText);
    overflow: hidden;
    padding: 12px;
}

.scene {
    margin: 12px;
    border-radius: 12px;
}

.cardContainer {
    background-color: var(--darkSecondary);
    flex-basis: 24%;
    margin: 12px;
    border-radius: 12px;
    overflow: hidden;
}

.card {
    background-color: var(--darkSecondary);
    text-align: left;
    flex-basis: 24%;
    overflow: hidden;
}

.cardTitle {
    padding: 16px;
    font-family: var(--fontHeader);
    font-size: 1.2em;
    letter-spacing: 2px;
    background-color: var(--darkSecondary1);
    font-weight: bold;
}

.cardBody {
    padding: 16px;
}

.bodyScroll {
    overflow-y: auto;
}

.typeSelect {
    align-content: center;
    margin-bottom: 24px;
}

.page {
    display: flex;
}

.inlineInputs label {
    display: inline;
}

.inputShelf {
    padding-bottom: 10px;
    padding-left: 10px;
}

/*  */
.element.active {
    background-color: var(--darkSecondary2);
}

input {
    margin: 2px 12px;
    background-color: var(--darkSecondary1);
    color: var(--light);
    border: none;
    border-radius: 4px;
    padding: 6px 12px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=color] {
    background-color: transparent;
    width: 64px;
    height: 42px;
}

::-webkit-color-swatch {
    border-radius: 4px;
    border: solid 3px var(--darkSecondary1);
}

.inlineInputs input {
    margin: 2px 4px;
}

input[type=number]{
    width: 3em;
}

input[type=radio] {
    display: none;
}

input[type=radio] + label {
    background-color: var(--darkSecondary1); /* Green lol */
    color: var(--light);
    border: none;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    padding: 6px 18px;
    margin: 6px;
    cursor: pointer;
    border-radius: 4px;
}

input[type=radio]:checked + label {
    background-color: var(--darkSecondary2);
}

.element {
    background-color: var(--darkSecondary1);
    text-align: center;
    font-size: 21px;
    border-radius: 4px;
    cursor: pointer;
    padding: 12px 18px;
    margin: 12px 0 24px;
}

.renameInput {
    background-color: var(--darkSecondary1);
    text-align: center;
    margin: 0;
    border: none;
    color: white;
}

button {
    background-color: var(--darkSecondary1); /* Green lol */
    color: var(--light);
    border: none;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    padding: 12px 18px;
    margin: 16px 12px;
    cursor: pointer;
    border-radius: 4px;
}

button.wideButton {
    padding: 12px 32px;
}