body {
    background-color: black;
}

div.menu {
    color: white;
    flex-basis: 20%;
    background-color: #424242;
    text-align: center;
}

div.page {
    display: flex;
}

input[type=number]{
    width: 3em;
}