@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Padauk");

:root {
    --veryDark: #0a0a0a;

    --dark: #121213;
    --light: #dfdfdf;

    --lightSecondary: #cccccc;

    --darkSecondary: #1d1d1e;
    --darkSecondary1: #2f2f32;
    --darkSecondary2: #525255;

    --fontHeader: 'Raleway', sans-serif;
    --fontText: 'Padauk', sans-serif;
}

body {
    background-color: var(--veryDark);
    overflow: hidden;
}

canvas {
    position: absolute;
    left: 50%;
    top: 0;
    margin: 0;
    z-index: -1;
    transform: translate(-50%);
}

.errorText {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: red;

    font-family: var(--fontHeader);
    font-weight: bold;
    font-size: 5em;

    opacity: 0;
}